
/* checkbox resize for angular material is found in style.scss */
.sequencer md-checkbox {
  margin-right: -11px;  // Tighter display of checkboxes
}

.grid-tile {
  // background-color: pink;
}

.grid-tile-label {
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid #eee;
  margin-top: 10px;
}

.sliders {
  width:50%;
}

#buttonBar {
  width:100%;
	padding-top:20px;
  padding-bottom:12px;
  padding-left: 3%;
}

.tweakingBar {
  width:100%;
  padding-top:0px;
  padding-bottom:8px;
  padding-left:2.5%;
}

.tweakingBarLabel {
  padding-left:5px;
}

/* for horisontal use
.freqSlider {
  width: 50%;
  max-width: 50%;
}
*/

#svg {
  padding-left: 2.5%;
}

@media screen and (max-width: 640px) {
  .sliders {
    width: 100%;
  }
  #svg {
    padding-left: 5%;
  }
  .themSliders {
  }
  .tweakingBar {
    padding-left:5%;
    width:90%;
    padding-right:5%;
  }
  .freqSlider {
    max-width:95%;
    width:95%;
  }
  #buttonBar {
    padding-left:6%;
  }
}
